    .comentario__container {
        /* border: 1px solid #ff0000; */
        margin-bottom: 0.5rem;
        width: auto;
        border-radius: 1rem;
        background-color: #dddddd;
    }

    .comentario__container-dados {
        /* border: 1px solid #00ffff; */
        margin: 0.2 auto;
        max-width: 100%;
        display: flex;
        text-align: center;
    }

    .comentario__container-foto {
        width: 50px;
    }

    .comentario__container-informacoes {
        /*margin-left: 1rem*/
    }

    .comentario__container-informacoes h3 {
        /* display: block;*/
        margin: 0
    }

    .comentario__container-informacoes span {
        margin: 0
    }

    .comentario__container-comentario {
        /* border: 1px solid #00ffff; */
    }


    .comentario__container-comentario span {
        margin: 0;
        font-weight: bold
    }

    .comentario__container-comentario p {
        margin: 0
    }