.footer {
    /* border: 1px solid #ff0000; */
    /* width: 100%; */
    max-width: var(--max-width);
    background-color: #333;
    color: #fff;
    text-align: center;
    bottom: auto;
}

.footer__content {
    width: 100%;
    padding: 50px 0px;
}

.footer__content p {
    color: var(--blue1);
}

.footer__content--links {
    list-style: none;
    padding: 0;
}

.footer__content--links {

}

.footer__content--links li {
    display: inline;
    margin: 0 10px;
}

.footer__content--links a {
    color: var(--link);
    text-decoration: none;
}

.footer__content--links:hover {
    text-decoration: underline;
}