.section-estao-falando{
    /* border: 1px solid #ff0000; */
    /* width: 100%; */
    max-width: var(--max-width);
    color: #002244;
    background-color: #cccccc;
}

.section-esta-falando__container{
   
}

.section-esta-falando__container h2 {

}

.section-esta-falando__container h3 {
    
}
