.section-top{
    /* border: 1px solid #ff0000; */
    /* width: 100%; */
    max-width: var(--max-width);
    margin-top:  var(--header-height);
    color: #002244;
    background-color: #cccccc;
}

.section-top__container {
    width:100%;
    display: flex;
}

.section-top__container h2 {
 
}

.section-top__container h3 {
    
}

.section-top__container p {

}

.section-top__container button {
   
}

@media screen and (min-width:768px) {
  
    .section-top{
        margin-top: 0;
    }
    
  }